@import "bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css2?family=Average&family=Libre+Franklin:wght@400;500;600;700&family=Oswald&display=swap";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* font-family: 'Average', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif; */
/* ================Basic Css start============== */
body {
  font-family: "Average", serif;
}
ul li {
  list-style: none;
}
/* ================Navigation Css start============== */
.nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #181516;
}
.nav-link:hover {
  color: #fecf4d;
}
.active {
  color: #fecf4d;
}
.header {
  height: 90px;
  background-color: #ffffff;
  box-shadow: 1px 0px 4px #cccccc;
}
.middle-wrapper {
  margin-top: 90px;
}
.main-banner .slick-slide img {
  width: 100%;
}
.main-banner .slick-prev {
  z-index: 99;
  left: 0;
}
.main-banner .slick-next {
  right: 0;
}
.main-banner .slick-dots {
  bottom: 10px;
}
.main-banner .slick-dots li button:before {
  color: #ffffff;
  font-size: 14px;
}
.main-banner .slick-dots li.slick-active button:before {
  color: transparent;
  border: 2px solid #fff;
  opacity: 1;
  border-radius: 50%;
}
/* ================Footer Css start============== */
.footer {
  background-color: #333;
  color: #f0f0f0;
  height: 60px;
}
